
body{
  margin:0;
  text-align: center;
  background-color: #100F0F;
  font-family: 'Playfair Display';
  font-style: italic;
  color:white;
}

h1{
  margin-top:0;
}

.background-Img{
  height: 600px;
  width: 100%;
}


.immagine_1{
 margin-top: 20px;
  height: 500px;
  width: 600px;
  position: absolute;
  left:280px;
}

.immagine_2{
margin-top: 20px;
  height: 500px;
  width: 600px;
  position: absolute;
  left: 280px;
}
.immagine_3{
margin-top: 20px;
  height: 1000px;
  width: 100%;

}

.upper_div {

  margin-left: 100px;
  margin-right: 80px;
  margin-bottom:30px;
  margin-top: 80px;
  height: 60px;
  background-color: #100F0F;
  position:relative;

}

.Title{
  position:absolute;
}

.a_ref{
  color: white;
  font-size: 35px;
  text-decoration: none;

}


.nav_bar{
  list-style-type:none;
  text-align: right;
  margin: auto;
  font-size: 40px;

}

.nav_bar li{
color:white;
display:inline-block;
padding-left:1em
}



.central{
  height: 600px;
  width: 100%;
  margin: 0;
  background-color: #100F0F;
  position: relative;


}

.central_2{
  height: 600px;
  width: 100%;
  margin: 0;
  background-color: white;
  position: relative;


}



.central_div_left {
  color:white;
  font-style: normal;
  border-color: white;
  border-width: 3px;
  height: 300px;
  width: 600px;
  margin-left: 100px;
  margin-top: 100px;
  background-color: #100F0F;
  position: absolute;
  text-align:left;
  font-size:20px;
}


.central_div_left_2 {
  color:black;
  font-style: normal;
  border-color: white;
  border-width: 3px;
  height: 300px;
  width: 600px;
  margin-left: 100px;
  background-color: white;
  position: absolute;
  text-align:left;
  font-size:20px;
}

.central_div_right {
  height: 600px;
  width: 600px;
  margin: 0;
  background-color:#100F0F;
  position: absolute;
  left:900px;
}

.central_div_right_2 {
  height: 600px;
  width: 600px;
  margin: 0;
  background-color: white;
  position: absolute;
  left:900px;
}





.bottom_div {


  height: 300px;
  width: 100%;
  background-color: #100F0F;
 font-size: 30px;

}
